@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #424242;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #dedede;
    text-decoration: none;
    background-color: #31363b;
}