@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,200&display=swap');

* {
    background-color: #424242;
}

li, a, button { 
    font-family: "Prompt", sans-serif;
    font-weight: 525;
    font-size: 22px;
    color: #dedede;
    text-decoration: none;
    background-color: #31363b;
    transition: all .5s ease-in-out
}

header a button {
    padding: 9px 25px;
    background-color: rgb(69, 223, 95);
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.nav-bar {
    list-style: none;
    background-color: #1a1b1c;
}

.nav-bar li {
    display: inline-block;
    padding: 0px 22px;
    background-color: #1a1b1c;
}

.nav-bar li a {
    transition: all 0.25s ease 0s;
    background-color: #1a1b1c;
}

a:hover, button:hover {
    color: #18c12f;
    text-decoration: underline;
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 20px 1.255%;
    background-color: #272a32;
}