@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #424242;
}

li, a, button {
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #dedede;
    text-decoration: none;
    background-color: #31363b;
}

header a button {
    padding: 9px 25px;
    background-color: rgb(69, 223, 95);
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.nav-bar {
    list-style: none;
    background-color: #1a1b1c;
}

.nav-bar li {
    display: inline-block;
    padding: 0px 22px;
    background-color: #1a1b1c;
}

.nav-bar li a {
    transition: all 0.25s ease 0s;
    background-color: #1a1b1c;
}

.nav-bar li a:hover {
    color: #2f2f2f;
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 20px 1.2%;
    background-color: #272a32;
}