@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.button {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: rgb(238, 238, 238);
    background-color: #3c3e40;
    text-decoration: none;
}