* {
    background-color: white;
    text-align: center;
    position: relative;
}

.blue-semibold {
    font-family: 'Poppins', sans-serif;
    color: rgb(32, 140, 255)
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 22.35px;
    color: rgb(22, 22, 22)
}
.content {
    height: 90px;
    position: absolute;
    top: 90px;
    width: 100%;
}

.content .informational-input {
    left: 25%;
    width: 50%;
}